* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  justify-content: center;
}
h1 {
  text-align: center;
}
.container {
  display: grid;
}
#search-box {
  display: grid;
  grid-template-columns: 300px 100px;
  justify-content: center;
}
#search-input {
  width: 100%;
}
.name-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
